body,
html {
    height: 100%;
}

.h-70 {
    min-height: 70%;
}

.h-10 {
    min-height: 10%;
}

.more-info {
    font-size: 10px;
}

.movie-title {
    max-width: 150px;
}

.comment {
    height: 150px;
    overflow-y: scroll;
}

.error {
    border: 2px solid red;
}